.info-title {
  width: 104px;
  height: 40px;
  background-color: rgb(196, 196, 196);
  line-height: 40px;
  text-align: center;
}

.information-view {
  margin-top: 80px;
  width: 45vw;
  height: 100%;
}

.info-box-wrapper {
  border: solid black 1px;
  width: 100%;
  height: 90%;
}

.info-box {
  margin-top: 40px;
  display: block;
  left: calc(50%-150px);
  right: calc(50%-150px);
}

.info-box-phone {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-box-email {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-box-major {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-box-profileImg {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.phone-input {
  margin-left: 10%;
  margin-right: calc(50%-150px);
  width: 300px;
  height: 30px;
}
.email-input-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 10%;
}
.email-input-wrapper::after {
  content: "@waffle.hs.kr";
  font-family: sans-serif;
  color: gray;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 50%;
  right: 85px;
  transform: translateY(-50%);
}
.email-input {
  width: 300px;
  height: 30px;
}

.major-input {
  width: 309px;
  height: 38px;
  margin-left: 10%;
  border: solid gray 1px;
  cursor: pointer;
}

.profileImg-input {
  width: 300px;
  height: 30px;
  margin-left: 10%;
}

.info-box-txt-layout {
  width: 180px;
}

.info-box-txt {
  float: right;
}
